# /usr/lib/systemd/system/htop.service
#
# Copyright (c) 2012-2019 Malcolm J Lewis <malcolmlewis@opensuse.org>
#

[Unit]
Description=Process view on a Virtual Terminal with htop.

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/htop
Environment=TERM=linux
User=htopd
TTYPath=/dev/tty${HTOP_TTY}
ExecStart=/usr/bin/sh -c "/usr/bin/htop ${HTOP_PARAMS} > /dev/tty${HTOP_TTY} < /dev/tty${HTOP_TTY}"
ExecStop=/usr/bin/sh -c "/usr/bin/clear > /dev/tty${HTOP_TTY} < /dev/tty${HTOP_TTY}"
Restart=always
RestartSec=0
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target